body{
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn {
    background-color: #4CAF50; 
    color: white; 
    border: none;
    padding: 15px 30px; 
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 10px; 
    box-shadow: 6px 6px 6px #2a752f; 
    cursor: pointer;
    transition:  0.2s ease-in-out; 
}


.btn:hover {
    background-color: #45a049; 
}


.btn:active {
    background-color: #45a089; 

    transform: translateY(4px); 
    box-shadow: 0 3px #94d8c7; 
}
